  .heading {
      font-size: 40px;
      width: 100%;
      margin: 0px;
      box-shadow: 5px 5px 5px grey;
  }
  
  .heading_div {
      font-size: 30px;
      float: none;
      background: white;
      border-radius: 20px;
      color: black;
      box-shadow: 5px 5px 5px grey;
  }
  
  .heading_div2 {
      font-size: 18px;
  }
  
  .result_para_tag {
      box-shadow: 5px 5px 5px grey;
      font-size: 20px;
  }
  
  .result_para_tag span {
      white-space: pre-line;
  }
  
  .copy_right_footer {
      bottom: 0;
      line-height: 3;
      background-color: aqua;
      color: chartreuse;
      font-size: 20px;
      position: fixed;
      width: 100%;
      text-align: center;
  }
  
  canvas {
      border: 5px ridge whitesmoke;
      margin-top: 160px;
      box-shadow: 5px 5px 5px grey;
      border-radius: 20px;
  }